<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://image.api.playstation.com/vulcan/img/rnd/202106/1514/xqoTYwf0S55ro6fwcIIY1KI4.png" 
        alt="" 
        srcset=""
        height="395px">
    </div>
    <div class="big-card__title">
        <h1>Saiu o novo Far Cry</h1>
    </div>
    <div class="big-card__description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, velit porro iure dignissimos sapiente reiciendis. Eveniet, sed! Sapiente a nisi exercitationem, fuga consectetur, iure corporis possimus quidem eaque aperiam necessitatibus.</p>
    </div>
</div>
