<div class="container__small-card">
    <div class="container__samll-card-content">
        <div class="small-card__photo">
            <img src="https://image.api.playstation.com/vulcan/img/rnd/202106/1514/xqoTYwf0S55ro6fwcIIY1KI4.png" alt=""
                srcset="" height="395px">
        </div>
        <div class="small-card__title">
            <h1>
                <a href="#">Saiu o novo Far Cry</a>
            </h1>
        </div>
    </div>
    

    <div class="container__samll-card__separator">
        <hr>
    </div>
    
</div>