.container__small-card{
    width: 700px;
    margin-bottom: 15px;
}

.container__samll-card-content{
    display: flex;
    flex-direction: row;
}

.small-card__photo > img{
    width: 200px;
    min-width: 200px;
    margin-right: 20px;
    height: 150px;
    min-height: 150px;
}

.small-card__title{
    display: flex;
    justify-content: center; 
    align-self: center;
}

.container__samll-card__separator{
    margin-top: 10px;
}