<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card id="1"
            photoCover="https://image.api.playstation.com/vulcan/img/rnd/202106/1514/xqoTYwf0S55ro6fwcIIY1KI4.png"
            cardTitle="Saiu o novo Far Cry 6"
            cardDescription="Far Cry 6 é o novo jogo da aclamada franquia da Ubisoft. 
            Trazendo uma proposta de gameplay fiel e conhecida pelos fãs. O game traz Yara, uma versão alternativa de Cuba que é comandada pelo fascista Antón Castillo (Giancarlo Esposito). 
            Você vive a pele de Dani Rojas (que pode ser ele ou ela), lutando junto à guerrilha Libertad, liderada por Clara García, para matar Castillo e tirar seu governo autoritário do poder.
            Com história cativante, o game mistura aventura e FPS, dando bastante liberdade para o jogador explorar e seguir a trama como quiser. 
            Também chamam atenção os lindos cenários, que sofrem um pouco com gráficos abaixo do esperado para a nova geração de consoles, e muitos bugs que aparecem durante a gameplay.
            Far Cry costuma trazer histórias cativantes, e com o sexto game da franquia, isso não é diferente. Logo na primeira hora de jogo, é possível entender o contexto de uma forma geral. 
            Yara é uma versão alternativa de Cuba (apesar de a Ubisfot jurar que possíveis semelhanças são coincidências), mas com um diferencial importante.">
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card id="2"
            photoCover="https://s2-techtudo.glbimg.com/gT8IkFrpER7lM5hVhZb5HDCUlgs=/0x0:3840x2160/1000x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2023/K/Z/moPBjMSvAAMV4yAt1Qjw/qkbjwaprpaqj75grmreny94n.jpg"
            cardTitle="Far Cry: New Dawn">
        </app-small-card>
        <app-small-card id="3"
            photoCover="https://s2-techtudo.glbimg.com/GHjxnzIJ6UrPZc5JT0JSIeV7rrI=/0x0:1500x862/1000x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2023/G/Y/uK0PPQT6mE0YZdEKAjdQ/far-cry-5.jpg"
            cardTitle="Far Cry 5">
        </app-small-card>
        <app-small-card id="4"
            photoCover="https://s2-techtudo.glbimg.com/eFCpp9XFaPfgTnW9CJ07IJZ6pqE=/0x0:1920x1080/1000x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2023/8/y/i0GFWYTZmejE0byFGkVQ/fcp-ss4-dalso-gold-1080p-221510.jpg"
            cardTitle="Far Cry Primal">
        </app-small-card>
        <app-small-card id="5"
            photoCover="https://s2-techtudo.glbimg.com/ioXJdaO08HeMYrEwITdhvCoKzsU=/0x0:1920x1200/1000x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2023/R/E/UTqNLxTHGtTQtV11KQoQ/db4e18cd-587e-4b99-9403-d8b86ed1.jpg"
            cardTitle="Far Cry 4">
        </app-small-card>
        <app-small-card id="6"
            photoCover="https://s2-techtudo.glbimg.com/cw9M2UyZyFjkIHgZOUpaBWD-bC8=/0x0:1200x675/1000x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2022/n/o/mf7A2GQWSkJ9yEUI0BLQ/9-things-you-probably-didnt-know-about-far-cry-3-bxsk.1200.jpeg"
            cardTitle="Far Cry 3">
        </app-small-card>
        <app-small-card id="7"
            photoCover="https://s2-techtudo.glbimg.com/G-27FfE_oG8CE4xe2sO56VRdWak=/0x0:2560x1440/1000x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2023/h/7/o8OLF3Qqqfkb7nQ1dYGw/fc-fc2-store-landscape-2560x1440-2560x1440-e94a6a2fa597ea3fe74932be67d62519.jpg"
            cardTitle="Far Cry 2">
        </app-small-card>
        <app-small-card id="8"oi
            photoCover="https://s2-techtudo.glbimg.com/_qC6rgzcG5n7ES5vQIz2e7z8mQQ=/0x0:2560x1440/1000x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2023/g/p/0NRwdcQAiNNV3AIAkw4w/gamename-store-landscape-2560x1440-2560x1440-606256535.jpg"
            cardTitle="Far Cry">
        </app-small-card>
    </div>
</div>